* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    font-size: 1rem;
}

.calendar {
    margin: 1rem 0.5rem 0 0.5rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.year-month {
    font-size: 16px;
    cursor: pointer;
}

.nav {
    display: flex;
    border: 0.5px solid #333333;
    border-radius: 5px;
}

.nav-btn {
    border: none;
    font-size: 1rem;
    line-height: 2rem;
    background-color: transparent;
    cursor: pointer;
    padding: 0 1rem 0 1rem;
}

.days {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.day {
    width: calc(100% / 7);
    text-align: center;
}

.dates {
    display: flex;
    flex-flow: row wrap;
}

.date {
    width: calc(100% / 7);
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
    color: #d13e3e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396ee2;
}

.other {
    opacity: 0;
    text-align: center;
}

.today {
    position: relative;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: "";
    border: 1px solid #aaa;
}

.pastday {
    opacity: 0.3;
    text-align: center;
}

.startDt {
    position: relative;
}

.startDt::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    background-color: #fcda26;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: "";
    border: 0.5px solid #fcda26;
}

.range {
    position: relative;
}

.range::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    background-color: #fcda26;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    content: "";
    border: 0.5px solid #fcda26;
    border-radius: 0%;
}

.startAdd {
    position: relative;
}

.startAdd::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    background-color: #fcda26;
    border-radius: 50% 0 0 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    content: "";
    border: 0.5px solid #fcda26;
}

.lastAdd {
    position: relative;
}

.lastAdd::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    background-color: #fcda26;
    border-radius: 0 50% 50% 0;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    content: "";
    border: 0.5px solid #fcda26;
}

.lastDt {
    position: relative;
}

.lastDt::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    display: block;
    background-color: #ff8320;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: "";
    border: 0.5px solid #fcda26;
}

.this {
    text-align: center;
}

.selectedDay {
    opacity: 0.3;
}
